@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,body{
    font-family: 'Lato', sans-serif;
    color: #333;
    line-height: 1.6;
    height: 100%;
}


ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
    margin: 10px;
}

a{
   text-decoration: none;
}

i{
    color:#333;
    background-color: #333;
    align-items: end;
}

#main {
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

#main div{
    flex: 1 0 32%;
}

#googleCenter{
    align-self: center;
    text-align: center;
}

#main .right ul{
    justify-content: flex-end;
}

#content1::after {
    content:"\a";
    white-space: pre;
}
#content2::after {
    content:"\a";
    white-space: pre;
}
#content3::after {
    content:"\a";
    white-space: pre;
}

#footer{
    width: 100%;
    position: absolute;
    bottom:0;
}

#subfooter1 {
    align-items: center;
}

#subfooter2 {
    display: flex;
}

#subfooter2 .right ul{
    justify-content: flex-end;
}