@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lato', sans-serif;
    color: #333;
    line-height: 1.6;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.flex-container{
    display: flex;
  align-items: center;
  justify-content: center;
}


ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
    margin: 10px;
}

a{
   text-decoration: none;
}

i{
    color:#333;
    background-color: #333;
    align-items: end;
}

.main{
    max-width: 50%;
}
